<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
    <header>
        <h1>Produtos Disponíveis</h1>
    </header>
    <main>
        <ul>
            {% for produto in produtos %}
            <li>
                <h2>{{ produto.nome }}</h2>
                <p>{{ produto.descricao }}</p>
                <p>Preço: R$ {{ produto.preco }}</p>
                <a href="{{ url_for('produtos.detalhe_produto', produto_id=produto.id) }}">Ver Detalhes</a>
                <form method="POST" action="{{ url_for('carrinho.adicionar_ao_carrinho', produto_id=produto.id) }}">
                    <button type="submit">Adicionar ao Carrinho</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </main>
    <footer>
        <a href="/">Voltar para o início</a>
    </footer>
</body>
</html>
